<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>NewzAware</title>
</head>

<body>
    <header>
        <h1>NewzAWARE</h1>
        <h2>Bringing the Truth out</h2>
    </header>

    <div class='news'>
        {% for title, url, img, pred in articles %}
        <a class='article-link' href="{{url}}">
        <div class='article-block'>
            
                <img src="{{img}}" alt="">
                <h3>{{title}}</h3>
                <h3>Bias detected: {{pred}}</h3>
            </div>
        </a>
        {% endfor %}
    </div>

    <footer>
        Team: 
        <a href="https://linkedin.com/in/ambuj-kulshreshtha-527917201/">Ambuj Kulshreshtha</a>
        <a href="https://linkedin.com/in/anuj-jain-a2425420b/">Anuj Jain</a>
        <a href="https://linkedin.com/in/visheshkumarsingh">Vishesh Kumar Singh</a>
    </footer>

</body>
</html>