<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>NewzAware</title>
</head>

<body>
    
    <h1>NewzAWARE</h1>
    <h2>Bringing the Truth out</h2>
    
    <div>
        {% for title, url, img, pred in articles %}

        <a href="{{url}}">
            <img src="{{img}}" alt="">
            <h3>{{title}}</h3>
        </a>
        <h3>{{pred}}% bias predicted</h3>

        {% endfor %}
    </div>

</body>
</html>